<button
    aria-label="{{ 'aria-label.video-reels-toggle-sound' | t }}"
    class="wt-hero-video__sound-toggle"
    data-sound="off"
>
    {% render 'icons', id: 'volume' %}
    {% render 'icons', id: 'volume-muted' %}
</button>